/***-------------CSS BY JACOB MARON-----------***/
/***-----------------Background---------------***/
    body {
    background-color: #005EAD !important;
}

    hr { 
    height: 1px;
    color: #005EAD !important;
    background-color: #005EAD !important;
    border: none;
}

/***--------------------Text------------------***/
    h1{ 
    color: white!important;
    text-align: center;
    font-family: 'Quicksand'!important;
    font-size: 45px!important;
    text-shadow: 3px 3px 5px #B4DADD;
}
    
    h2{
    color: black;
    font-family: 'Quicksand'!important;
    font-size: 20px;
    padding-bottom: 5px;
} 

    p{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-shadow: 1px black;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

    li { background-color: white; text-align:center; line-height:100px; font-size:35px; 
}

    li2 { background-color: white; text-align:center; line-height:50px; font-size:35px; 
}

    a:visited {
    color: #005EAD
}
    
    a:link {
    color: #005EAD;
}

    a:hover, a:active {
    color: #B4DADD; 
}

    #center {
    text-align: center;
}

    .about {
    padding-left: 200px;
    padding-right: 200px;
}

    .i3 {
    width: 1000px;
    padding-left: 350px;    
}

/***----------------Banner Image--------------***/
    .centerbottle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/***---------------Navigation Bar-------------***/
    * {margin: 0; padding: 0;}

    .nav navbar-nav {
    display: inline-block;
    float: none;    
}

    ul {
    list-style-type: none;
    width: 100%;
    background: white;
}

    li {
    width: auto !important;
    margin-left: 5%;
}


    li2 {
    height: 50px;
    margin-right: 0px;
    margin-left: 0px;
}

    li a {
    font: 32px 'Quicksand', sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
}

    li2 a {
    font: 31px 'Quicksand', sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
}

/***-----------------Carousel---------------***/
    .wrapper {
    margin:auto;
}

    .carousel { 
    width: 640px; 
    height: 440px;
    margin: auto;
    margin-bottom: 66px;
    margin-top: 50px;
}

/***-----------------Buttons---------------***/
    .button {
    background-color: white;
    border-color: white;
    color: #005EAD;
    font-size: 18px;
    padding: 7px 15px;
    font-family: 'Quicksand';
    border-radius: 25px;
    margin-bottom: 0px;
}

    .button:hover {
    background-color: #B4DADD;
    border-color: #B4DADD;
    color: white;
    -webkit-transition: all 0.5s ease;
}

    .button:active {
    background-color: #B4DADD;
    color: transparent;
}

    #backtotop {
    position: fixed;
    bottom: 20px;
    left: 35px;
    box-shadow: 3px 3px 5px #666666;
}

/***-----------------Shop---------------***/
    .product { 
    color: #005EAD;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 45px;
    padding-top: 15px;
    padding-bottom: 0px;
    text-shadow: 3px 3px 5px darkgrey;
}

    .card1 {
    box-shadow: 3px 3px 10px darkgrey;
    width: 300px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-color: #666666;;
    border-width: 1px;
}
    
    .card2 {
    box-shadow: 3px 3px 10px darkgrey;
    width: 300px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-color: #666666;;
    border-width: 1px;
}
    
    .card3 {
    box-shadow: 3px 3px 10px darkgrey;
    width: 300px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-color: #666666;;
    border-width: 1px;
}

    .card4 {
    width: 276px;
    display: inline-block;
    text-align: center;
    background-color: #B4DADD;
}

    .card5 {
    box-shadow: 3px 3px 10px white;
    width: 300px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-color: darkblue;
    border-width:2px;
}
    
    .card6 {
    box-shadow: 3px 3px 10px white;
    width: 300px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-color: darkblue;
    border-width:2px;
}
    
    .card7 {
    box-shadow: 3px 3px 10px white;
    width: 300px;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    border-style: solid;
    border-color: darkblue;
    border-width:2px;
}

    .title {
    color: black;
    font-size: 35px;
    font-family: 'Quicksand';
    padding-top: 10px;
    text-shadow: 3px 3px 5px darkgrey;
    padding-left: 0px!important;
    padding-bottom: 0px!important;
}

    .ref {
    color: black;
    font-size: 30px;
    font-family: 'Quicksand';
    padding-top: 5px;
    text-shadow: 3px 3px 5px darkgrey;
    padding-left: 0px!important;
    padding-bottom: 0px!important;
}
    
    .price {
    color: #B4DADD;
    font-size: 20px;
    font-family: 'Quicksand';   
}

    .code {
    color: #005EAD;
    font-size: 15px;
    font-family: 'Quicksand'; 
}

    .descript {
    color: darkgray;
    font-size: 18px;
    font-family: 'Quicksand'; 
    padding-top: 5px;
}

    .reference {
    color: #005EAD;
    font-size: 20px;
    font-family: 'Quicksand'; 
    padding-top: 5px;
    padding-left: 0px!important;
    padding-bottom: 0px!important;
}

    .position {
    color: dimgrey;
    font-size: 19px;
    font-family: 'Quicksand'; 
    padding-top: 0px;
}

    .name {
    color: white;
    font-size: 35px;
    font-family: 'Quicksand';
    padding-top: 15px;
    text-shadow: 3px 3px 5px #666666;
}
    
    .grid-container {
    text-align: center
}

    .grid-container1 {
    display: grid;
    grid-template-columns: auto;
    background-color: #005EAD;
    justify-content: space-evenly;
}

    .grid-container2 {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    justify-content: space-evenly;
}

    .grid-container3 {
    background-color: white;
}

    .card1 button {
    border: none;
    outline: 1px;
    padding: 10px;
    color: white;
    background-color: #005EAD;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: 'Quicksand';
    border-radius: 25px;
    box-shadow: 3px 3px 5px #666666;
}

    .card1 button:hover {
    background-color: #B4DADD;
    color: white;
    -webkit-transition: all 0.5s ease;
    box-shadow: 3px 3px 5px #666666;
}

    .card2 button {
    border: none;
    outline: 1px;
    padding: 10px;
    color: white;
    background-color: #005EAD;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: 'Quicksand';
    border-radius: 25px; 
    box-shadow: 3px 3px 5px #666666;
}

    .card2 button:hover {
    background-color: #B4DADD;
    color: white;
    -webkit-transition: all 0.5s ease;
    box-shadow: 3px 3px 5px #666666;
}

    .card3 button {
    border: none;
    outline: 1px;
    padding: 10px;
    color: white;
    background-color: #005EAD;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: 'Quicksand';
    border-radius: 25px; 
    box-shadow: 3px 3px 5px #666666;
}

    .card3 button:hover {
    background-color: #B4DADD;
    color: white;
    -webkit-transition: all 0.5s ease;
    box-shadow: 3px 3px 5px #666666;
}

/***-----------------Images---------------***/
    #logo {
    height: 150px;
    width: 160px;
    position: relative;
    animation: movelogo 9s infinite linear alternate;
}

    #employee {
    border-radius: 25px 25px 0px 0px; 
}

    #bottle {
    border-radius: 25px;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
}

    #newimage {
    opacity: 0;
    width: 480px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 1.5s;
}

/***-----------------Animation---------------***/
/*-------Keyframes-------*/
    @keyframes movelogo {
    0% {left: 5%; }
    100% {left: 75%; }
}

/***------------------Parallax---------------***/
    .outside {
	background-image: url("../images/parallax.jpg");
	background-attachment: fixed;
	position:relative;
	width: 1000px;
	height: 300px;
    margin-left: auto;
    margin-right: auto;
}

    .parallaxtitle {
	text-align: center;
	color: white;
    font-size: 45px;
    font-family: 'Quicksand';
	position:absolute;
	top: 100px;
	left: 295px;
    text-shadow: 3px 3px 5px black;
}

    .parallaxbody {
    color: black;
    font-size: 30px;
    font-family: 'Quicksand'; 
    padding-top: 5px;
    position:absolute;
	top: 160px;
	left: 240px;
    text-shadow: 3px 3px 5px darkgrey;
}

/***------------------Form---------------***/
    .hidden {
    display: none;
}

    .valid-field {
    color: green;
}

    .invalid-field {
    color: red;
}
    label {
    color: white;
    font-size: 22px;
    font-family: 'Quicksand';
    
}

    input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    border: 3px solid #B4DADD;
    border-radius: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

    input[type=email] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    border: 3px solid #B4DADD;
    border-radius: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

    select {
    width: 40%;
    box-sizing: border-box; 
    border: 3px solid #B4DADD;
    border-radius: 25px;
}

    .select {
    color: darkblue;
    font-size: 20px;
    font-family: 'Quicksand';
    border-radius: 25px;
}

    textarea {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    border: 3px solid #B4DADD;
    border-radius: 25px;
}

    textarea:focus {
    background-color: lightgray;
}

    input[type=submit] {
    background-color: white;
    border-color: white;
    color: #005EAD;
    font-size: 18px;
    padding: 7px 15px;
    font-family: 'Quicksand';
    border-radius: 25px;
    margin-bottom: 0px;
    box-shadow: 3px 3px 5px #666666;
}

    input[type=submit]:hover {
    background-color: #B4DADD;
    border-color: #B4DADD;
    color: white;
    box-shadow: 3px 3px 5px #666666;
    -webkit-transition: all 0.5s ease;
}

    input:focus {
    background-color: lightgray;
}